services:
  db:
    image: mysql:8.0
    container_name: game-store-db
    restart: always
    environment:
      MYSQL_DATABASE: gameshop_db
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: